nav {
  position: fixed;
  width: 100%;
  color: #fff;
  padding: 4px 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
.logo {
  width: 180px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0.5rem 1.2rem;
  font-size: 1rem;
}
.dark-nav {
  background: #212ea0;
  transition: 0.5s;
  margin: 0;
}
.menu-logo {
  display: none;
}
.close-icon {
  display: none;
}
/* -------------- media query ----------------- */
@media screen and (max-width: 1080px) {
  .menu-logo {
    width: 1.7rem;
    display: block;
  }

  .nav-items {
    position: fixed;
    top: 0;
    left: -100%; /* 👈 hidden by default */
    width: 25%;
    height: 100vh;
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    gap: 20px;
    transition: left 0.3s ease;
  }

  .nav-items.active {
    left: 0; /* 👈 show sidebar */
  }

  .close-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .close-icon:hover {
    color: #212ea0;
  }
  nav{
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 850px) {
  .nav-items{
    width: 100%;
  }
}