.campus{
    margin:  5rem auto;
    width: 90%;
    text-align: center;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}
.gallery img{
    width: 100%;
    border-radius: 10px;
}
@media screen and (max-width:992px){
    .gallery{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
@media screen and (max-width: 768px){
    .gallery{
        grid-template-columns: repeat(1,1fr);
        gap: 1.5rem;
    }
}