.footer{
    margin: 0.6rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 1.2rem;
}
@media screen and (max-width:768px){
    .footer{
        display: block;
        text-align: center;
    }
    .footer ul{
        margin-top: 10px;
    }
    
}
